<h2>User Details</h2>

<p>User name: {{username}}</p>
<p>User role: {{userrole}}</p>
<p>Email: {{email}}</p>

<input type="button" value="Update User" name="updateuser" id="updateuser">
<input type="button" value="delete User" name="deleteuser" id="deleteuser">
